<% if @user_passed_test.success? %>
  <h1>The <%= @user_passed_test.test.title %> Test was completed!</h1>
  <p class='success'>Your result is <%= @user_passed_test.result %>%</p>
<% else %>
  <h1>The <%= @user_passed_test.test.title %> Test was failed!</h2>
  <p class='fail'>Your result is <%= @user_passed_test.result %>%</p>
<% end %>
