<tbody>
  <tr>
    <td class="align-middle"><%= badge.name %></td>
    <td class="align-middle"><%= image_tag("badges/#{badge.img_url}", size: '64x64') %></td>
    <td class="align-middle"><%= badge.rule %></td>
  </tr>
</tbody>
