<% if @user.errors.present? %>
    <div>
      <h2>Errors detected:</h2>
      <h2><%= pluralize(@user.errors.count, 'error') %> detected:</h2>

      <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
<% end %>

