<h3>Question</h3>

<b>
  <%= @answer.question.body %>
</b>
<hr class="my-4"
<p>
  <b>Answer:</b>
  <%= @answer.body %>
</p>

<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Back', admin_question_path(@answer.question), class: 'btn btn-light' %>


