<footer>
  <small>
    The training project by <a href="https://thinknetica.com/" target="_blank">Thinknetica</a>
    courses. Author <a href="https://github.com/alexrails" target="_blank">Alex Korzun</a>
    This application allows you to create, manage and run tests. Designed as part of Thinknetica courses.
    <p><%= Time.zone.now %></p>
  </small>
</footer>
