<footer class="footer">
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <small>
        The training <%= github_url('alexrails', 'testguru') %> by <a href="https://thinknetica.com/" target="_blank">Thinknetica</a>
        courses. Author <a href="https://github.com/alexrails" target="_blank">Alex Korzun</a>
        This application allows you to create, manage and run tests. Designed as part of Thinknetica courses.
        <p><%= current_year %></p>
      </small>
    </div>
  </nav>
</footer>
